{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>{{ news.title }}{{ blog.title }}</h1><br>
            <i>{{ news.date }}{{ blog.date }}</i><br>
            <i>{{ blog.author }}</i><br>
            <img src="{{ news.image.url }}{{ blog.image.url }}"><br>
            {{ news.text|safe }}{{ blog.text|safe }}
        </div>
        <div class="col-md-2">
        </div>

    </div>

    <div class="alert alert-success" role="alert">
        <h2>{{ comments.author }}</h2>
        <i>{{ comments.date }}</i><br>
        <i>{{ comments.text }}</i>
        <div class="alert-link"></div>
    </div>

{% endblock %}