{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>{{ news.title }}{{ blog.title }}</h1><br>
        <i>{{ news.date }}{{ blog.date }}</i><br>
        <i>{{ blog.author }}</i><br>
        <img src="{{ news.image.url }}{{ blog.image.url }}"><br>
        {{ news.text|safe }}{{ blog.text|safe }}
        <div class="comments">
            {% include 'partial/_comments.html' %}
        </div>

        <form method="POST" action="{% url 'comments_add' %}" id="comment_form">
        {% csrf_token %}
            {% render_field form.email type='email' id='id_email' %}
            {% render_field form.text type="text" id='id_text' %}
            {% render_field form.blog type='hidden' value=blog.id %}
        <input type="submit" class="btn btn-default" value="Добавить коммент">
        </form>

    </div>
    <div class="col-md-2"></div>



</div>
{% endblock %}