{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>{{ news.title }}{{ blog.title }}</h1><br>
        <i>{{ news.date }}{{ blog.date }}</i><br>
        <i>{{ blog.author }}</i><br>
        <img src="{{ news.image.url }}{{ blog.image.url }}"><br>
        {{ news.text|safe }}{{ blog.text|safe }}
        <div class="comments">
            {% for comment in comments %}
                <i class="email">{{ comment.email }}</i></br>
                <i class="date">{{ comment.date }}</i>
            <p>{{ comment.text|safe }}</p>
            {% endfor %}
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Сохранить" />
        </form>
    </div>
    <div class="col-md-2"></div>

</div>
{% endblock %}