{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
     <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <title>Social</title>
</head>
<body>
<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/">Main</a></li>
    <li role="presentation" ><a href="{% url 'news' %}">News</a></li>
    <li role="presentation" ><a href="{% url 'blog' %}">Blog</a></li>

</ul>
{% block content %}


{% endblock %}
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>